
{% extends 'blog/home.html' %}
{% block main %} 


                <div class="single-slider slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-8">
                                <div class="hero__caption">
                                    <span data-animation="fadeInUp" data-delay=".4s">Get Every Single Solutions.</span>
                                    <h1 data-animation="fadeInUp" data-delay=".6s">I’m Designer Haris Nasir.ST</h1>
                                    <!-- Hero-btn -->
                                    <div class="hero__btn">
                                        <a href="industries.html" class="btn hero-btn"  data-animation="fadeInLeft" data-delay=".8s">Learn More</a>
                                        <a href="industries.html" class="btn border-btn ml-15" data-animation="fadeInRight" data-delay="1.0s">Hire Me</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        <section class="services-area  services-padding">
            <div class="container">
               <div class="project-heading mb-35">
                    <div class="row align-items-end">
                        <div class="col-lg-6">
                            <!-- Section Tittle -->
                            <div class="section-tittle">
                                <h2>category!</h2>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="properties__button">
                                <!--Nav Button  -->                                            
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    {% for cat in category %}
                                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="{% url 'blog:category' cat.slug %}" role="tab" aria-controls="nav-home" aria-selected="false">{{cat.slug}}</a>
                                        {% endfor %}
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
               </div>
        </section>
        </div>
        <!-- About Area End -->
        <!-- Categories Area Start -->
        </section>
        <!-- About Area End -->
        <!-- Categories Area Start -->
        <section class="categories-area section-padding3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <!-- Section Tittle -->
                        <div class="section-tittle mb-70">
                            <h2>What Services you will Get from me!</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                 {%for article in articles%}
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon"><img src= "{{ article.thumbnail.url}}"  width="300" height="300">
                            </div>
                            <br><br>
                            <div class="cat-cap">
                                <a href="{% url 'blog:detail' article.slug %}">{{ article.describtion }}</a>
   								
                            </div>
                        </div>
                    </div> 
                     {% endfor %}
                 </div>
               
            </div>
        </section>

        <!-- Categories Area End -->
   
{% endblock %}
